---
import Icon from "astro-icon";

interface Props {
  size?: "md" | "lg";
}

const { size = "md" } = Astro.props;
---

<button
  type="button"
  class="text-gray-400 hover:text-gray-300 rounded-full flex items-center justify-center"
  class:list={[size === "md" && "h-12 w-12", size === "lg" && "h-14 w-14"]}
>
  <Icon
    name="tabler:dots"
    class:list={[size === "md" && "h-8 w-8", size === "lg" && "h-8 w-8"]}
  />
</button>
