---
import Icon from "astro-icon";
---

<div
  class="relative z-10 py-4 px-6 flex justify-between"
  transition:name="page header"
  transition:persist
>
  <a
    href="/"
    aria-label="go back to home page"
    class="bg-zinc-900 rounded-full inline-flex justify-center items-center h-8 w-8"
  >
    <Icon name="bi:chevron-left" class="h-4 w-4 -ml-0.5" />
  </a>
  <div class="flex items-center gap-3">
    <a
      target="_blank"
      href="https://vercel.com/templates/astro/view-transitions"
      class="flex relative overflow-hidden group bg-gradient-to-br from-black/10 to-black/40 rounded-md px-2.5 h-7 text-gray-200 hover:text-white transition-colors gap-1 items-center"
    >
      <span class="text-xs">
        Deploy on <span class="font-bold">Vercel</span>
      </span>
      <Icon name="ion:logo-vercel" class="h-4 w-4" />
    </a>
    <a
      target="_blank"
      aria-label={"github repository"}
      href="https://github.com/igorm84/spotify-astro-transitions"
      class="text-gray-200 hover:text-white"
    >
      <Icon name="mdi:github" class="h-7 w-7" />
    </a>
  </div>
</div>
