---
import Icon from "astro-icon";
---

<div class="py-4 px-6" transition:name="page header" transition:persist>
  <a
    href="/"
    class="bg-zinc-900 rounded-full inline-flex justify-center items-center h-8 w-8"
  >
    <Icon name="bi:chevron-left" class="h-4 w-4 -ml-0.5" />
  </a>
</div>
