---
import Icon from "astro-icon";

interface Props {
  size?: "md" | "lg";
}

const { size = "md" } = Astro.props;
---

<span
  class="bg-green-500 hover:scale-105 shadow-md shadow-black/40 rounded-full flex items-center justify-center text-black"
  class:list={[size === "md" && "h-12 w-12", size === "lg" && "h-14 w-14"]}
>
  <Icon
    name="mdi:play"
    class:list={[size === "md" && "h-8 w-8", size === "lg" && "h-10 w-10"]}
  />
</span>
